.footer {
  height: 8rem;
  display: flex;
  flex-direction: column;
}

.footer__titulo {
  text-align: center;
  margin-top: auto;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .footer__titulo {
    font-size: 0.9rem;
  }
}
