.habilidades {
  background-color: var(--color-crema);
  height: 100vh;
  position: relative;
}

.habilidades__titulo {
  padding-bottom: 6rem;
}

.habilidades__contenedor__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2% 3%;
  height: 21rem;
}

.habilidades__contenedor__item {
  width: 22%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
