.habilidades-blandas {
  height: 100vh;
  position: relative;
  margin: 0;
}

.hblandas__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2% 3%;
  height: 80vh;
}

.hblandas__item {
  width: 30%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.hblandas__item > img {
  margin: auto;
  margin-bottom: 1rem;
}
