.menu {
  margin-top: 3rem;
}

.menu__lista {
  display: flex;
  flex-direction: row;
}

.menu__item {
  margin: 1.5rem;
}

.menu__item--link {
  font-size: x-large;
  text-decoration: none;
  color: var(--color-naranja);
}

.menu__item--link:active {
  color: inherit;
}
