.pasatiempos {
  background-color: var(--color-crema);
  height: 100vh;
  border-radius: 15% 15% 130% 250%;
}

.pasatiempos__titulo {
  padding-bottom: 4rem;
}

.pasatiempos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2% 3%;

  height: 21rem;
}

.pasatiempos__item {
  width: 22%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.pasatiempos__imagen {
  width: 10rem;
  height: 10rem;
}

@media screen and (max-width: 480px) {
  .pasatiempos {
    height: 160vh;
  }
  .pasatiempos__titulo {
    font-size: 3rem;
    position: relative;
    top: 1.5rem;
  }
  .pasatiempos__item {
    width: 40%;
  }
}
