.presentacion {
  background-color: var(--color-crema);
  width: 100%;
  display: flex;
  height: 70vh;
  position: relative;
}

.presentacion__contenedor {
  width: 80%;
}

.presentacion__titulo {
  font-size: 3.5rem;
  margin: 2rem;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-left: 5rem;
}

.presentacion__subtitulo {
  margin-left: 5rem;
}

.foto-personal {
  margin: 4rem 2rem 2rem;
}
