.proyectos {
  position: relative;
}

.proyectos__contenedor {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0 3rem;
}

.proyectos__contenedor--texto-y-botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proyectos__titulo {
  font-size: 2.5rem;
}

.proyectos__contenedor__botones {
  display: flex;
  justify-content: flex-end;
}

.proyectos__contenedor__botones > a {
  margin-right: 2rem;
}

.proyecto__botones {
  margin: 2rem;
  padding: 1rem;
  border: 3px solid var(--color-violeta);
  background-color: transparent;
  border-radius: 10%;
  text-decoration: none;
  font-weight: 700;
  font-size: larger;
  color: var(--color-violeta);
  transition: transform 1s;
}

.proyecto__botones:hover {
  transform: translateY(-1rem);
}

.proyecto__botones:active {
  color: inherit;
}

.proyectos__contenedor > iframe {
  width: 50%;
  height: 20rem;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(92, 59, 149, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(92, 59, 149, 1);
  box-shadow: 10px 10px 0px 0px rgba(92, 59, 149, 1);
}
