.redes__sociales {
  margin-top: 2rem;
}

.redes__lista {
  display: flex;
  justify-content: space-around;
}

.redes__lista__item {
  margin: 1rem;
  transition: transform 0.5s;
}

.redes__lista__item:hover {
  transform: scale(1.4);
}
