.redes__sociales {
  margin-top: 2rem;
}

.redes__lista {
  display: flex;
  justify-content: space-around;
}

.redes__lista__item {
  margin: 1rem;
  transition: transform 0.5s;
  z-index: 1;
}

.redes__lista__item:hover {
  transform: scale(1.4);
}

@media screen and (max-width: 960px) {
  .redes__lista__item {
    scale: 0.8;
    position: relative;
    top: 4rem;
    left: 4rem;
  }
}
