.sobre-mi {
  height: 100vh;
}

.sobre-mi__titulo {
  margin: 0;
}

.sobre-mi__contenedor--texto {
  display: flex;
  width: 80%;
  margin: auto;
}

.sobre-mi__parrafo {
  text-align: justify;
  line-height: 2rem;
}

.sobre-mi__parrafo {
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
  margin: 1rem;
  font-family: var(--garamond);
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  .sobre-mi__parrafo {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .sobre-mi__titulo {
    position: relative;
    top: 1rem;
  }
}
