.sobre-mi {
  height: 100vh;
}

.sobre-mi__titulo {
  margin: 5vh 0;
}

.sobre-mi__contenedor--texto {
  display: flex;
  width: 80%;
  margin: auto;
}

.sobre-mi__parrafo {
  text-align: justify;
  line-height: 2.5rem;
}
